fastapi
uvicorn[standard]
sqlmodel
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.3.0
python-multipart
pydantic[email]
pydantic-settings
httpx
requests
psycopg2-binary
pandas
numpy
pyarrow
TA-Lib
ib_async
yfinance
redis>=5.0.0